body {
  font-size: 1em;
}

// Text sizes

$text: 1em;
$text-small: 0.7em;
$header: 3em;
$header2: 1.5em;
$header3: 1.3em;

// defaults
h1 {
  font-size: $header;
}

h2 {
  font-size: $header2;
}

h3 {
  font-size: $header3;
}

p, a {
  font-size: $text;
}